h5py>=3
imageio
pillow>=9
matplotlib>=3.8.0
numba>=0.54.0  # OPTIONAL, included for version pinning
# numba @ git+https://github.com/richardsheridan/numba@6284-cherry  # numba/numba#6284
psutil
pyinstaller
numpy>=1.21
tqdm>=4.56.0
trio>=0.20.0
trio-parallel>1.1.0
samplerate==0.1.0