name: Build

on:
  workflow_dispatch:

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]  #, macos-11, macos-10.15]
      fail-fast: true
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0
        with:
          environments: build
      - name: Discover version
        run: pixi run make-version
      - name: Build with Pyinstaller
        run:  pixi run -e build pyinstaller -y magic_afm_${RUNNER_OS::3}.spec
        shell: bash
#      - name: Tidy dist
#        if: startsWith( runner.os, 'mac')
#        run: rm -rf dist/magic_afm
      - name: Copy README
        run: cp README.rst dist/magic_afm/
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: magic_afm-${{ matrix.os }}-build
          path: dist/
          if-no-files-found: error
